@media (max-width: 1339px){
    .container{
        width: auto;
        padding: 0px 15px;
    }
    .header__wrap{
        flex-direction: column;
    }
    .navigation__item:first-child{
        margin-left: 0px;
    }
    .header__buttons{
        margin-left: 0px;
        margin-top: 15px;
    }

    .intro{
        padding: 20px 0px;
    }

    .intro__wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .intro__image{
        order: -1;
        width: 80%;
        max-width: 900px;
        padding-bottom: 20px;
    }

    .intro__title{
        width: auto;
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
    }
    .intro__description{
        width: auto;
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
    }

    .buttons{
        display: flex;
        justify-content: center;
    }
    .intro__text{
        width: auto;
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
    }

    .companies{
        padding: 20px 0px;
    }
    .companies__title{
        width: auto;
        max-width: 850px;
        margin: 0 auto;
        text-align: center;
    }
    .companies__list{
        padding-top: 20px;
    }

    .companies__item{
        margin-right: 15px;
    }

    .advantages__wrap{
        flex-direction: column;
        padding: 20px 0px;
    }

    .advantages__image{
        order: -1;
        padding-bottom: 20px;
        width: 80%;
        max-width: 900px;
    }

    .advantages__text{
        margin: 0 auto;
        text-align: center;
    }

    .advantages__title{
        width: auto;
        max-width: 850px;
    }
    .advantages__description{
        width: auto;
        max-width: 850px;
    }
    .advantages__link{
        width: auto;
        max-width: 850px;
    }

    .products{
        padding: 20px 0;
    }
    .products__title{
        width: auto;
        max-width: 850px;
    }
    .products__list{
        justify-content: space-around;
    }
    .products__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        padding-top: 20px;
    }
    .products__cards-description{
        width: auto;
        max-width: 850px;
        text-align: center;
        margin-bottom: 0px;
    }
    .products-team{
        padding: 20px 0;
    } 
    .feedback{
        padding: 20px 0;
    }
    .feedback__wrap{
        flex-direction: column;
        align-items: center;
    }
    .feedback__photo{
        order: -1;
    }
    .feedback__text{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .feedback__title{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .feedback__icon{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }
    .rate{
        padding: 20px 0;
    }
    .rate__wrap{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .rate__text{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .rate__image{
        margin-top: 20px;
        border-top: 1px solid black;
        border-left: none;
    }
    .integration{
        padding: 20px 0;
    }
    .integration__image{
        order: -1;
        width: 80%;
        max-width: 900px;
        padding-bottom: 20px;
    }
    .integration__title{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .offer{
        padding: 20px 0;
    }
    .offer__title{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .site-map{
        padding: 20px 0;
    }
    .site-map__wrap{
        flex-direction: column;
    }
    .site-map__card{
        align-self: center;
        margin-bottom: 20px;
    }
    .site-map__card-title{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-bottom: 10px;
    }
    .site-map__card-logo{
        display: block;
        margin: 0 auto;
    }
    .site-map__card-text{
    margin: 0 auto;
    text-align: center;
    width: auto;
    padding-top: 10px;
}   
    .site-map__card-link{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .site-map__item-wrap{
        margin-left: 0;
        justify-content: space-between;
    }
    .site-map__item{
        margin-right: 15px;
        margin-bottom: 15px;
    }
}


@media (max-width: 767px) {
    .container{
        width: auto;
        padding: 0px 15px;
    }
    .header__wrap{
        flex-direction: column;
        align-items: center;
    }
    .navigation__list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navigation__item{
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .header__buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .colored-button{
        margin: 0px;
        text-align: center;
    }
    .transparent-button{
        text-align: center;
        margin-bottom: 10px;
    }

    .intro__title{
        font-size: 40px;
        line-height: 50px;
    }

    .buttons{
        flex-direction: column;
    }

    .transparent-button, .intro-trnsparent{
        margin-left: 0px;
        margin-top: 10px;
    }
    .intro__text{
        padding-top: 10px;
    }
    .intro__description{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
    }

    .companies__title{
        font-size: 40px;
        line-height: 50px;
    }

    .advantages__title{
        font-size: 40px;
        line-height: 50px;
    }
    .products__title{
        font-size: 40px;
        line-height: 50px;
    }
    .feedback__photo{
        width: 90%;
        min-width: 290px;
        max-width: 330px;
    }
    .rate__image-img{
        width: 90%;
    }
    .rate__image{
        display: flex;
        justify-content: center;
    }
    .integration__title{
        font-size: 40px;
        line-height: 50px;
    }
    .integration__text{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .integration__button{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .offer__text{
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding-top: 10px;
    }
    .offer__title{
        font-size: 40px;
        line-height: 50px;
    }
    .offer__button{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .site-map__card-image{
        width: 90%;
        min-width: 290px;
        max-width: 330px;
    }
}


